# Backend .gitignore
target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
.mvn/timing.properties
.mvn/timing.properties.lock
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.DS_Store
.classpath
.c9/
.eclipse
.factorypath
.project
.settings
.springBeans
.sts4-cache
.vscode/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
out/
*.log
*.swp
